body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  color: #636363;
  font-size: 22px;
  line-height: 1.5em;
  animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.row
{
  margin-bottom: 1em;
}

.row.avatar-block
{
  margin-bottom: 0.6em;
  text-align: right;
}

.avatar
{
  width: 60%;
  height: 60%;
  border-radius: 5px !important;
}

p
{
  text-shadow: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.name
{
  font-weight: bold;
}

a
{
  color: #8784d0;
  cursor: point;
}

a:hover
{
  color: #0900ff;
  text-decoration: none;
}

a.twitter:hover
{
  color: #55acee;
}

a.facebook:hover
{
  color: #3b5998;
}

a.linkedin:hover
{
  color: #0077b5;
}

a.github:hover
{
  color: #666666;
}

h4
{
  color: #303030;
  margin-bottom: .8em;
  font-size: 32px;
}

.sns-block
{
  margin-top: .5em;
}

.sns-block .sns
{
  line-height: 1.8em;
  font-size: 20px;
}

.side, .main
{
  padding-top: 100px;
  margin-bottom: 0;
}

.side a
{
  color: #ccc;
}

.emotion
{
  letter-spacing: .2em;
}

.weather
{
  color: #ccc;
  margin-top: 1em;
  font-size: 18px !important;
}

.weather .weather-icon
{
  font-size: 22px;
}
