body 
{
  background-color: #2B435A;
  color: #A8BCCE;
}

body::selection
{
  background: #000;
  color: #fff;
}

.intro
{
  font-family: 'Electrolize', sans-serif;
  text-shadow: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: #516C85;
}

.name
{
  color: #A8BCCE;
}

.find-me
{
  font-family: 'Electrolize', sans-serif;
  text-shadow: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
}

.row.avatar
{
  margin-top: 150px;
}

.sns
{
  margin-right: 10px;
}

.findme
{
  margin-top: 20px;
}
