body 
{
  font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  background-color: #fff;
  color: #3a3a3a;
  font-size: 22px;
  line-height: 1.5em;  
}

.row.avatar-block
{
  margin-top: 150px;
  margin-bottom: 0.5em;
}

.avatar
{
  width: 60%;
  height: 60%;
  border-radius: 5px !important;
}

.intro
{
  text-shadow: none;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.5em;  
}

.name
{
  font-weight: bold;
}

.find-me
{
  text-shadow: none;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.5em; 
}

.sns
{
  margin-right: 10px;
}

.findme
{
  margin-top: .8em;
}

a
{
  color: #8784d0;
}

a:hover
{
  color: #0900ff;
  text-decoration: none;
}
